[submodule "test_video"]
	path = test_video
	url = https://github.com/jolyu/test_video
[submodule "test_pictures"]
	path = test_pictures
	url = https://github.com/jolyu/test_pictures
[submodule "PiToDB"]
	path = PiToDB
	url = https://github.com/jolyu/PiToDB
[submodule "tracking"]
	path = tracking
	url = https://github.com/jolyu/tracking
[submodule "blob-detection"]
	path = blob-detection
	url = https://github.com/jolyu/blob-detection
[submodule "logging"]
	path = logging
	url = https://github.com/jolyu/logging
[submodule "logging_framework"]
	path = logging_framework
	url = https://github.com/jolyu/logging_framework
